<script src="https://cdn.form.io/js/formio.embed.js"></script>
<img src="./assets/DemoSKV2/logoIPM.png" class="logo" routerLink="/demoSKV2ChooseView" />
<img src="./assets/DemoSKV2/back.png" alt="" routerLink="/demoSKV2AllPagesApp" class="icons" id="backIcon" />
<main>
  <section id="doc">
    <section id="title">
      <h1>{{ nomApp }}</h1>
      <section id="showSection">
        <button id="btnRead" (click)="showPopUp('Description')">Description ></button>
        <button id="btnCode" (click)="showPopUp('Code')">Code ></button>
      </section>
    </section>
  </section>
  <section class="mainContent">
    <div id="left">
      <section id="parametre" *ngIf="parameters.length != 0">
        <h2>Paramètres :</h2>
        <div id="formio"></div>
      </section>
      <section id="startAndStop">
        <section class="section_test" *ngFor="let item of listStopFunction; let i = index">
          <section>
            <h3 id="userCaseTest1">{{ listComments[i] }}</h3>
          </section>
          <section class="btnSection">
            <button class="playBtn" id="playBtn_test_{{ i }}"
              (click)="callFunctionFromScript('start' + (i + 1), 'playBtn_test_' + i)">
              Run
            </button>
            <button class="stopBtn" id="stopBtn_test_{{ i }}"
              (click)="callFunctionFromScript('stop' + (i + 1), 'stopBtn_test_' + i)">
              Stop
            </button>
            <img src="./assets/DemoSKV2/all-pages-icon/resetLog.png" alt="" (click)="resetLogs(i)" class="resetImage">
          </section>
          <section class="LogTestAccordion log_test_{{ i }}">
            <section class="testLog_test">
              <section class="accordion" id="accordion_Logs_test_{{ i }}" (click)="showPanel('Logs_test_' + i)">
                <h2>Logs</h2>
                <div class="fleche fleche_Logs_test_{{ i }}"></div>
              </section>
              <div class="panel" id="panel_Logs_test_{{ i }}"></div>
            </section>
            <section class="ResultsLog_Results">
              <section class="accordion" id="accordion_Logs_Results_{{ i }}"
                (click)="showPanel('Logs_Results_test_' + i)">
                <h2>Results : <span id="last_Result_test_{{ i }}"></span></h2>
                <div class="fleche fleche_Logs_Results_test_{{ i }}"></div>

              </section>
              <div class="panel" id="panel_Logs_Results_test_{{ i }}"></div>
            </section>
          </section>
        </section>
      </section>
    </div>

    <div id="right">
      <section class="StopSessionReset">
        <button class="stopSession stopBtn" id="stopSession" (click)="stopSession()">
          Arret de la Session
        </button>
        <img src="./assets/DemoSKV2/all-pages-icon/resetLog.png" alt="" (click)="resetHistoricEvent()">

      </section>
      <section>
        <h2>Surveillance De Status :</h2>
        <div class="listStatus">
          <section *ngFor="let item of serviceUsed ; let i = index" class="logStatus">
            <section class="btnStatus accordion" [attr.id]="'accordion_' + item.service"
              (click)="showPanel(item.service)">
              <section class="titleServiceDeviceTest">
                <h3>
                  Service / Device
                  <section class="actualStatusService">
                    <span>
                      status
                    </span>
                    <span>
                      state
                    </span>
                    <span>
                      statusDetail
                    </span>
                  </section>
                </h3>
                <h3>
                  {{ item.service }} :
                  <section class="actualStatusService">
                    <span [attr.id]="'status_' + item.service">
                      {{ actualStatusAllService[item.service].status }}
                    </span>
                    <span [attr.id]="'statusDetail_' + item.service">
                      {{ actualStatusAllService[item.service].state }}
                    </span>
                    <span [attr.id]="'state_' + item.service">
                      {{ actualStatusAllService[item.service].statusDetail }}
                    </span>
                  </section>
                </h3>
                <h3 *ngIf="item.device!= 'N/A'">
                  {{item.device}}
                  <section class="actualStatusService">
                    <span [attr.id]="'status_' + item.service">
                      {{ actualStatusAllDevice[item.device].status }}
                    </span>
                    <span [attr.id]="'statusDetail_' + item.service">
                      {{ actualStatusAllDevice[item.device].state }}
                    </span>
                    <span [attr.id]="'state_' + item.service">
                      {{ actualStatusAllDevice[item.device].statusDetail }}
                    </span>
                  </section>
                </h3>
              </section>

              <div [attr.class]="'fleche fleche_' + item.service"></div>
            </section>
            <div [attr.id]="'panel_' + item.service" class="panel panelInformations">
              <div *ngFor="let statusHistory of historicEvent[item.service]">
                <div *ngIf="statusHistory.state!=undefined;else statusPart" class="logEventStatusElement">
                  <span class="hourEventSpan">{{ statusHistory.hourEvent }}</span>
                  <span class="hourReceipSpan">{{ statusHistory.hourReceiptEvent }} </span>
                  <span class="componentSpan">{{statusHistory.component}}</span>
                  <section class="statusHistorySection">
                    <span class="changeEventSpan"></span>
                    <span class="changeEventSpan">{{ statusHistory.state }} </span>
                    <span class="changeEventSpan"></span>
                  </section>
                </div>
                <ng-template #statusPart>
                  <div class="logEventStatusElement" id="statusPart">
                    <span class="hourEventSpan">{{ statusHistory.hourEvent }}</span>
                    <span class="hourReceipSpan">{{ statusHistory.hourReceiptEvent }} </span>
                    <span class="componentSpan">{{statusHistory.component}}</span>
                    <section class="statusHistorySection">
                      <span class="changeEventSpan">{{ statusHistory.status }} </span>
                      <span class="changeEventSpan"> </span>
                      <span class="changeEventSpan">{{ statusHistory.statusDetail }} </span>
                    </section>
                  </div>
                </ng-template>
              </div>
            </div>
          </section>
        </div>
      </section>
    </div>
  </section>
</main>
<div id="popUpDescriptionPage"></div>
<div id="popUpDescription">
  <h2 id="titlePopUpDescription">Description</h2>
  <p id="idDescription">
    {{ description }}
  </p>
  <img src="./assets/DemoSKV2/all-pages-icon/cross.png" alt="" srcset="" id="crossPopUp" />
</div>

<div id="popUpCodePage"></div>
<div id="popUpCode">
  <h2 id="titlePopUpCode">Code du test </h2>
  <pre><code class="language-js">
    {{code}}
  </code></pre>
  <img src="./assets/DemoSKV2/all-pages-icon/cross.png" alt="" srcset="" id="crossPopUpCode" />
</div>